

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .clear {
      clear: both;
   }

   header h1 {
   	text-align: center;
   }

   #main {
   	padding: 30px 0;
   }

   .photo-gallery {
   	margin: 20px 0;
   }

   .photo-gallery .grid-item img {
   	display: block;
   	max-width: 100%;
   }

   .photo-gallery .grid-item {
   	margin-bottom: 10px;
   }

   .grid-sizer,
   .grid-item {
   	width: 32.333%;
   }

   .grid-item--width2 {
   	width: 40%;
   }

   .pagination {
   	display: none;
   }

   .page-load-status {
   	text-align: center;
   	display: none;
   	padding: 20px 0;
   }

   .page-load-status p {
   	font-size: 20px;
   	font-weight: bold;
   }

   .photo-gallery .no-images {
   	color: #CCC;
   	text-align: center;
   	font-size: 20px;
   	margin-top: 30px;
   }

   #image-holder {
   	margin-top: 30px;
   	visibility: hidden;
      position: relative;
   }

   #image-holder .thumb-image {
   	width: 150px;
   	float: left;
   	margin-bottom: 10px;
   	padding: 2px;
   	border: 2px solid #CCC;
   }

   .grid-thumb-sizer {
   	width: 18%;
   }

   .loader {
   	display: none;
      margin: auto;
      padding: 20px;
   }

   #progress-wrp {
      border: 1px solid #0099CC;
      padding: 1px;
      position: relative;
      border-radius: 3px;
      margin: 10px;
      text-align: left;
      background: #fff;
      box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
      display: none;
   }

   #progress-wrp .progress-bar{
      height: 20px;
      border-radius: 3px;
      background-color: #f39ac7;
      width: 0;
      box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
   }

   #progress-wrp .status{
      top:3px;
      left:50%;
      position:absolute;
      display:inline-block;
      color: #000000;
   }

   #photo-img {
      text-align: center;
   }

   #photo-img img {      
      max-width: 100%;
   }

   #tags {
     list-style: none;
     margin: 0;
     overflow: hidden; 
     padding: 0;
   }

   #tags span {
     float: left; 
   }

   .single-tag {
     background: #000;
     border-radius: 3px;
     color: #FFF;
     font-size: 10px;
     display: inline-block;
     height: 20px;
     line-height: 20px;
     padding: 0 7px 0 13px;
     position: relative;
     margin: 0 5px 5px 0;
     text-decoration: none;
     -webkit-transition: color 0.2s;
   }

   .single-tag::before {
     background: #fff;
     border-radius: 10px;
     box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
     content: '';
     height: 6px;
     left: 4px;
     position: absolute;
     width: 5px;
     top: 6px;
   }

   .single-tag:hover {
     background-color: crimson;
     color: white;
   }

   .single-tag:hover::after {
      border-left-color: crimson; 
   }

   .tag-icon {
      float: left;
      margin: 3px 10px 0 0;  
   }

   .carousel-control {
      width: 6% !important;
       height: 71%;
       top: 44%;
       margin-top: -25%;
       text-shadow: none;
       background-image: none !important;
       color: #000;
       opacity: .2;
   }

   .carousel-control:hover {
      opacity: .6;
      color: #000;
   }

   .add-tag-form {
      text-align: center;
      margin-top: 20px;
   }

   .gallery-title {
      text-align: center;
   }

   #photo-title {
      text-align: center;
      font-size: 20px;
   }

   #edit-title {
      margin-right: 10px;
   }

   .form-title {
      display: none;
   }

   footer {
   	margin-top: 60px;
   }



















